<html xmlns:th="http://www.thymeleaf.org">

<h1  style="color:red;text-align:center"> Doctor Registration Page </h1>


<form th:action="@{/doctor/register}"  th:object="${doc}" method="POST" >
  <table  align="center"  bgcolor="cyan">
     <tr>
        <th>  Name::  </th>
        <th>  <input type="text"  th:field="*{dname}"/>
     </tr>
     <tr>
        <th>  Address::  </th>
        <th>  <input type="text"  th:field="*{addrs}"/>
     </tr>
     <tr>
        <th> Expert::  </th>
        <th>  <input type="text"  th:field="*{expert}"/>
     </tr>
     <tr>
        <th> Fee:  </th>
        <th>  <input type="text"  th:field="*{fee}"/>
     </tr>
     <tr>
        <th> <input type="Submit"  value="register Doctor"/> </th>
        <th>  <input type="reset"  value="reset"/>  </th>
     </tr>
     </table>
</form>

